.grid{
    -fx-background-color: lightgray;
    -fx-vgap: 3;
    -fx-hgap: 3;
    -fx-padding: 4;
}

.header {
    -fx-font: 16px "Sans Serif";
    -fx-font-weight: bolder;
    -fx-padding: 10;
}

.piece-label {
    -fx-font: 16px "Sans Serif";
    -fx-font-weight: bolder;
    -fx-max-width: 50;
    -fx-min-width: 50;
    -fx-max-height: 50;
    -fx-min-height: 50;
}

.label-0 {
    -fx-background-color: #FFFFFF;
    -fx-text-fill: white;
}

.label-1 {
    -fx-background-color: #CCFF99;
}

.label-2 {
    -fx-background-color: #08EA80;
}

.label-4 {
    -fx-background-color: #05E050;
}

.label-8 {
    -fx-background-color: #00D000;
}

.label-16 {
   -fx-background-color: #00A000;
}

.label-32 {
    -fx-background-color: #EA8080;
}

.label-64 {
    -fx-background-color: #E05050;
}

.label-128 {
    -fx-background-color: #D00000;
}

.label-256 {
   -fx-background-color: #A00000;
}

.label-512 {
    -fx-background-color: #680000;
    -fx-text-fill: #F5F5F5;
}

.label-1024 {
    -fx-font: 14px "Sans Serif";
    -fx-text-fill: #F5F5F5;
    -fx-background-color: #808080;
    -fx-font-weight: bolder;
}

.label-2048 {
    -fx-font: 14px "Sans Serif";
    -fx-text-fill: #F5F5F5;
    -fx-background-color: #606060;
    -fx-font-weight: bolder;
}

.label-4096 {
    -fx-font: 14px "Sans Serif";
    -fx-text-fill: #F5F5F5;
    -fx-background-color: #404040;
    -fx-font-weight: bolder;

}

.label-8192 {
    -fx-font: 14px "Sans Serif";
    -fx-text-fill: #F5F5F5;
    -fx-background-color: #080808;
    -fx-font-weight: bolder;

}